<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       style="background-image: url(../../../../assets/img/hero/category.jpg)"
       data-background="../../../assets/img/hero/category.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Danh sách Sản phẩm</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!-- product list part start-->
<section class="product_list my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="product_sidebar d-flex justify-content-center">
          <div class="single_sedebar">
            <form action="#" [formGroup]="formSearch" (ngSubmit)="onSearch()">
              <input type="text" name="#" placeholder="Từ khóa tìm kiếm" formControlName="keySearch" value="">
              <i class="ti-search"></i>
            </form>
          </div>
<!--          <div class="single_sedebar">-->
<!--            <div class="select_option">-->
<!--              <div class="select_option_list">Category <i class="right fas fa-caret-down"></i></div>-->
<!--              <select class="select_option_dropdown">-->
<!--                <option><a href="#">Category 1</a></option>-->
<!--                <option><a href="#">Category 2</a></option>-->
<!--                <option><a href="#">Category 3</a></option>-->
<!--                <option><a href="#">Category 4</a></option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single_sedebar">-->
<!--            <div class="select_option">-->
<!--              <div class="select_option_list">Type <i class="right fas fa-caret-down"></i></div>-->
<!--              <div class="select_option_dropdown">-->
<!--                <p><a href="#">Type 1</a></p>-->
<!--                <p><a href="#">Type 2</a></p>-->
<!--                <p><a href="#">Type 3</a></p>-->
<!--                <p><a href="#">Type 4</a></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-12">
<!--        <div class="fixed-header btn-icon-text animatebutton"  id="animatebutton">-->
<!--          <a [routerLink]="['/bill-goods']"><img src="../../../../assets/img/image-cart.png" height="100" width="150" /></a>-->
<!--          <span class="badge badge-danger" *ngIf="carts; else block">{{carts.length}} +</span>-->
<!--          <ng-template #block>-->
<!--            <span class="badge badge-danger">0 +</span>-->
<!--          </ng-template>-->
<!--        </div>-->
        <div id="animatebutton" class="d-flex justify-content-end" style="position: fixed;bottom: 50px;
  right: 0;" *ngIf="role != 'ROLE_ADMIN'"><h3 style="color: red;font-size: 15px">{{carts.length}}+</h3>
          <a [routerLink]="['/cart']"><img src="../../../../assets/img/icon/rm.png" height="65" width="70"></a>
        </div>
        <div class="product_list">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let element of goods; let i = index">
              <div class="product__item">
                <div class="product__item__pic set-bg" style="background-image: url({{element.image}})">
                  <div class="product__discount__item__pic set-bg">
                    <div class="product__discount__percent">{{element.saleOff + '%'}}</div>
                  </div>
                  <ul class="product__item__pic__hover">
                    <li><a><i class="fa fa-heart"></i></a></li>
                    <li><a><i class="fa fa-retweet"></i></a></li>
                    <li (click)="addGoods(element.idGood)"><a ><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6><a [routerLink]="['/goods-detail']">{{element.goodName}}</a></h6>
                  <h5>{{element.price | currency:'VND':true}}</h5>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="load_more_btn text-center">-->
<!--            <a href="#" class="btn_3">Load More</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->

<!-- client review part here -->
<section class="client_review">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="client_review_slider owl-carousel">
          <div class="single_client_review">
            <div class="client_img">
              <img src="../../../../assets/img/client.png" alt="#">
            </div>
            <p>"
              Phối hợp với các cơ quan viện trợ nhân đạo, chúng tôi đã hỗ trợ các chương trình để giúp giảm bớt
              đau khổ của con người.</p>
            <h5>- Micky Mouse</h5>
          </div>
          <div class="single_client_review">
            <div class="client_img">
              <img src="../../../../assets/img/client_1.png" alt="#">
            </div>
            <p>"
              Phối hợp với các cơ quan viện trợ nhân đạo, chúng tôi đã hỗ trợ các chương trình để giúp giảm bớt
              đau khổ của con người.</p>
            <h5>- Micky Mouse</h5>
          </div>
          <div class="single_client_review">
            <div class="client_img">
              <img src="../../../../assets/img/client_2.png" alt="#">
            </div>
            <p>"Phối hợp với các cơ quan viện trợ nhân đạo, chúng tôi đã hỗ trợ các chương trình để giúp giảm bớt
              đau khổ của con người.</p>
            <h5>- Micky Mouse</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- client review part end -->

<!-- Shop Method Start-->
<div class="shop-method-area section-padding30">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-package"></i>
          <h6>Miễn phí giao hàng</h6>
<!--          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-unlock"></i>
          <h6>Thanh toán an toàn</h6>
<!--          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-reload"></i>
          <h6>Thanh toán đơn giản, nhanh chóng</h6>
<!--          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Method End-->

<!-- subscribe part here -->
<section class="subscribe_part py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="subscribe_part_content">
          <h2>
            Nhận khuyến mãi và cập nhật!</h2>
          <p>
            Trao quyền liền mạch cho các chiến lược tăng trưởng được nghiên cứu đầy đủ và các nguồn nội bộ hoặc “hữu cơ” có thể tương tác
            đáng tin cậy đổi mới nội bộ chi tiết.</p>
          <div class="subscribe_form">
            <input type="email" placeholder="Nhập mail của bạn">
            <a href="#" class="btn_1">Đăng ký</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- subscribe part end -->
