<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url(../../../../assets/img/hero/category.jpg)" data-background="../../../assets/img/hero/category.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Blog</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="assets/img/blog/single_blog_1.png" alt="">
              <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Tháng 1</p>
              </a>
            </div>

            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>Hợp đồng mực in của Google cho văn phòng 35 tầng mới</h2>
              </a>
              <p>Đó là những ngôi sao thống trị ánh sáng thống trị chia năm cho thứ tư không có ngôi sao đó là
                anh ta hạ thổ nó trước tiên mà không có thiên đàng tại chỗ gieo nó vào sáng thứ hai nói rằng.</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i>
                  Du lịch, Phong cách sống</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 Bình luận</a></li>
              </ul>
            </div>
          </article>

          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="assets/img/blog/single_blog_2.png" alt="">
              <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Tháng 1</p>
              </a>
            </div>

            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>
                  Hợp đồng mực in của Google cho văn phòng 35 tầng mới</h2>
              </a>
              <p>
                Đó là những ngôi sao thống trị ánh sáng thống trị chia năm cho thứ tư không có ngôi sao đó là
                anh ta hạ thổ nó trước tiên mà không có thiên đàng tại chỗ gieo nó vào sáng thứ hai nói rằng.</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> Du lịch, Phong cách sống</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>
                  03 bình luận</a></li>
              </ul>
            </div>
          </article>

          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="assets/img/blog/single_blog_3.png" alt="">
              <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Tháng 1</p>
              </a>
            </div>

            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>Hợp đồng mực in của Google cho văn phòng 35 tầng mới</h2>
              </a>
              <p>Đó là những ngôi sao thống trị ánh sáng thống trị chia năm cho thứ tư không có ngôi sao đó là
                anh ta hạ thổ nó trước tiên mà không có thiên đàng tại chỗ gieo nó vào sáng thứ hai nói rằng.</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> Du lịch, Phong cách sống</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 bình luận</a></li>
              </ul>
            </div>
          </article>

          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="assets/img/blog/single_blog_4.png" alt="">
              <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Tháng 1</p>
              </a>
            </div>

            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>
                  Hợp đồng mực in của Google cho văn phòng 35 tầng mới</h2>
              </a>
              <p>
                Đó là những ngôi sao thống trị ánh sáng thống trị chia năm cho thứ tư không có ngôi sao đó là
                anh ta hạ thổ nó trước tiên mà không có thiên đàng tại chỗ gieo nó vào sáng thứ hai nói rằng.</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i>
                  Du lịch, Phong cách sống</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 Bình luận</a></li>
              </ul>
            </div>
          </article>

          <article class="blog_item">
            <div class="blog_item_img">
              <img class="card-img rounded-0" src="assets/img/blog/single_blog_4.png" alt="">
              <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Tháng 1</p>
              </a>
            </div>

            <div class="blog_details">
              <a class="d-inline-block" href="single-blog.html">
                <h2>
                  Hợp đồng mực in của Google cho văn phòng 35 tầng mới</h2>
              </a>
              <p>
                Đó là những ngôi sao thống trị ánh sáng thống trị chia năm cho thứ tư không có ngôi sao đó là
                anh ta hạ thổ nó trước tiên mà không có thiên đàng tại chỗ gieo nó vào sáng thứ hai nói rằng.</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i>
                  Du lịch, Phong cách sống</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 Bình luận</a></li>
              </ul>
            </div>
          </article>


          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <i class="ti-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <form action="#">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder='Từ khóa tìm kiếm'
                         onfocus="this.placeholder = ''"
                         onblur="this.placeholder = 'Từ khóa tìm kiếm'">
                  <div class="input-group-append">
                    <button class="btns" type="button"><i class="ti-search"></i></button>
                  </div>
                </div>
              </div>
              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                      type="submit">Tìm kiếm</button>
            </form>
          </aside>

          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Thể loại</h4>
            <ul class="list cat-list">
              <li>
                <a href="#" class="d-flex">
                  <p>
                    Đồ ăn nhà hàng</p>
                  <p>(37)</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex">
                  <p>
                    Tin tức du lịch</p>
                  <p>(10)</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex">
                  <p>
                    Công nghệ hiện đạiy</p>
                  <p>(03)</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex">
                  <p>Sản phẩm</p>
                  <p>(11)</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex">
                  <p>Cảm hứng
                  </p>
                  <p>21</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex">
                  <p>Chăm sóc sức khỏe (21) </p>
                  <p>09</p>
                </a>
              </li>
            </ul>
          </aside>

          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Bài đăng gần đây</h3>
            <div class="media post_item">
              <img src="assets/img/post/post_1.png" alt="post">
              <div class="media-body">
                <a href="single-blog.html">
                  <h3>Từ cuộc sống, bạn là cá ...</h3>
                </a>
                <p>12 tháng 12, 2020</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="assets/img/post/post_2.png" alt="post">
              <div class="media-body">
                <a href="single-blog.html">
                  <h3>
                    Hubble tuyệt vời</h3>
                </a>
                <p>
                  2 giờ trước </p>
              </div>
            </div>
            <div class="media post_item">
              <img src="assets/img/post/post_3.png" alt="post">
              <div class="media-body">
                <a href="single-blog.html">
                  <h3>Thiên văn học hoặc Chiêm tinh học</h3>
                </a>
                <p>3 giờ trước</p>
              </div>
            </div>
            <div class="media post_item">
              <img src="assets/img/post/post_4.png" alt="post">
              <div class="media-body">
                <a href="single-blog.html">
                  <h3>
                    Kính thiên văn tiểu hành tinh</h3>
                </a>
                <p>1 giờ trước</p>
              </div>
            </div>
          </aside>
          <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list">
              <li>
                <a href="#">Dự án</a>
              </li>
              <li>
                  <a href="#">yêu và quý</a>
              </li>
              <li>
                <a href="#">Công nghệ
                </a>
              </li>
              <li>
                <a href="#">Du lịch</a>
              </li>
              <li>
                <a href="#">Nhà hàng</a>
              </li>
              <li>
                <a href="#">Cách sống</a>
              </li>
              <li>
                <a href="#">
                  Thiết kế</a>
              </li>
              <li>
                <a href="#">
                  Hình minh họa</a>
              </li>
            </ul>
          </aside>


          <aside class="single_sidebar_widget instagram_feeds">
            <h4 class="widget_title">Nguồn cấp dữ liệu Instagram</h4>
            <ul class="instagram_row flex-wrap">
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                </a>
              </li>
            </ul>
          </aside>


          <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">
              Bản tin</h4>

            <form action="#">
              <div class="form-group">
                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                       onblur="this.placeholder =
'Nhập email'" placeholder='Nhập email' required>
              </div>
              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                      type="submit">Đăng ký</button>
            </form>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->
